body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  color: #fff;
  text-align: center;
  background: #1a1a1a;
  overflow: hidden;
  max-width: 100%;
  max-height: 100px;
}


body {
    background-image: url('sky.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.map-container{

    width:650px;
    height:350px;
    border-radius:25px;
    overflow:hidden;
    border:8px solid #fff;

    box-shadow:
        0 20px 40px rgba(0,0,0,.25);

    transition:.3s;
}

.map-container:hover{
    transform:scale(1.03);
}



.corner-image {
    opacity: 70%;
  position: absolute;   /* stays in place even when scrolling */
  top: 15px;        /* distance from top */
  right: 50px;       /* distance from right */
  width: 300px;      /* adjust size */
  height: auto;
  z-index: 3;
  border-radius: 8px; /* optional styling */
   animation: swingFloat 8s ease-in-out infinite;
}

@keyframes swingFloat {
  0%   { transform: rotate(10deg) translateY(0); }
  25%  { transform: rotate(15deg) translateY(-15px); }
  50%  { transform: rotate(10deg) translateY(10); }
  75%  { transform: rotate(-15deg) translateY(-15px); }
  100% { transform: rotate(10deg) translateY(0); }
}
/* BIRD-FLYING*/


.bird {
  position: absolute;   /* or fixed if you want it pinned */
 bottom: 300px;          /* vertical position */
  right:-200px;         /* start off-screen to the left */
  width: 50px;         /* cloud size */
  z-index: 3;
  transform: scaleX(-1);
  animation: flyright 35s linear infinite;
}

.birds {
  position: absolute;   /* or fixed if you want it pinned */
 bottom: 280px;          /* vertical position */
  right:-200px;         /* start off-screen to the left */
  width: 50px;         /* cloud size */
  z-index: 3;
  transform: scaleX(-1);
  animation: flyright 33s linear infinite;
}

@keyframes flyright {

    from { right: -200px; }
  to   { right: 100%; }
}

/* CLOUDS */

.cloud2 {
  position: absolute;   /* or fixed if you want it pinned */
 top: 200px;          /* vertical position */
  left: -200px;         /* start off-screen to the left */
  width: 200px;         /* cloud size */
  opacity: 70%;
  animation: moveCloud 10s linear infinite;

}

@keyframes moveCloud {
  from { transform: translateX(0); }
  to   { transform: translateX(120vw); } /* move across screen */
}

.cloud {
  position: absolute;   /* or fixed if you want it pinned */
 bottom: -50px;            /* vertical position */
  left: -200px;         /* start off-screen to the left */
  width: 400;  
  height: 200px;       /* cloud size */
  z-index: 3;
  animation: moveClouds 20s linear infinite;
  opacity: 70%;
}

.cloud3 {
  position: absolute;   /* or fixed if you want it pinned */
 bottom: -50px;            /* vertical position */
  left: -180px;         /* start off-screen to the left */
  width: 400;  
  height: 200px;       /* cloud size */
  z-index: 3;
  animation: moveClouds 5s linear infinite;
  opacity: 70%;
}
.cloud4 {
  position: absolute;   /* or fixed if you want it pinned */
 bottom: -50px;            /* vertical position */
  left: -160px;         /* start off-screen to the left */
  width: 400;  
  height: 200px;       /* cloud size */
  z-index: 3;
  animation: moveClouds 4s linear infinite;
  opacity: 70%;
}
.cloud5 {
  position: absolute;   /* or fixed if you want it pinned */
 bottom: -50px;            /* vertical position */
  left: -1400px;         /* start off-screen to the left */
  width: 400;  
  height: 200px;       /* cloud size */
  z-index: 3;
  animation: moveClouds 35s linear infinite;
  opacity: 70%;
}
.cloud6 {
  position: absolute;   /* or fixed if you want it pinned */
 bottom: -50px;            /* vertical position */
  left: -100px;         /* start off-screen to the left */
  width: 400;  
  height: 200px;       /* cloud size */
  z-index: 3;
  animation: moveClouds 40s linear infinite;
  opacity: 70%;
}

@keyframes moveClouds {
  from { transform: translateX(0); }
  to   { transform: translateX(120vw); } /* move across screen */
}



/* Glowing SUNG*/

.sun {
  position: fixed;       /* stays in place */
  top: 50px;             /* adjust vertical position */
  left: 50px;           /* adjust horizontal position */
  width: 250px;          /* sun size */
  height: 250px;
  opacity: 70%;
}




.invitation {
    position: relative;
    z-index: 2;
  background-color: rgba(27, 16, 1, 0.5);
  
    padding: 20px;
    border-radius: 10px;
    width: 600px;
    height: 500px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 3px dashed #cfb20d;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

 .celebrant-name {
    margin: 0;
    line-height: 1;
  position: relative;
   align-items: center;
  font-family: "Sis";
  width: 550px;
    font-size: 50px;
    color:  #e2b216;
      border: 3px dashed #cfb20d;
    border-radius: 10px;
 box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}



.info {

    width: 80%;
     text-align: center;
}

.event-location {
    font-size: 15px;
    color: #f7f7f7;
    margin: 10px 0;
}

.event-location a {
 
    font-family: "Sis";
  font-size: 30px;
    text-decoration: none;
    color: #cfb20d;
    display: inline-block;
    transition: transform 0.25s ease, color 0.25s ease;
    font-weight: bold;
}

.event-location a:hover {
   transform: scale(1.08);
    color: #ffffff;
}

.where-label {
    margin-top: 5px;
    font-size: 16px;
}
.celeb-label {
  font-size: 20px;
    margin-bottom: 50px;
    margin-top: 10px;
    line-height: 1;
}

.when-label {
    margin-top: 5px;
    font-size: 16px;
}
.when-label {
    margin: 0px auto 0px;
    font-size: 16px;
}
.event-time {
    font-family: "Sis";
    font-size: 30px;
    color: #cfb20d;
    font-weight: bold;
    margin: 10px 0;
}

@font-face {
    font-family: "Sis";
    src: url("fonts/Sis.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

 #countdown {
    padding-left: 30px;
    font-family: "Sis";
    font-size: 60px;
      margin-top: 15px;
     color: #f80c0c;;
}


.celebrant-photo{
    position: absolute;
    left: -250px;      /* move image outside the box */
    top: -50px;       /* adjust vertically */
    width: 450px;
    z-index: 10;      /* higher than textbox */
}

.divider {
    width: 20%;
    border: none;
    border-top: 2px dashed #1d8503;
    margin: 10px auto;
}



